adf/pipeline.json
{
    "name": "ingest_formula1_data",
    "properties": {
        "activities": [
            {
                "name": "Get Folder Details",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "datasetformula1_raw",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_window_end_date": {
                                "value": "@pipeline().parameters.p_window_end_date",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "JsonReadSettings"
                    }
                }
            },
            {
                "name": "If Folder Exists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Folder Details",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get Folder Details').output.exists",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "circuits_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "If Folder Exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_circuits_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "races_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "drivers_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_races_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "constructors_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "circuits_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_constructors_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "drivers_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "constructors_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_drivers_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "laptimes_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "races_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_laptimes_folder",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "pitstops_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "qualifying_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_pitstops_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "qualifying_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "laptimes_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_qualifying_folder",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "results_ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "pitstops_ingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/aasiddha28@gmail.com/F1-Analytics-on-Azure-Databricks/ingestion/ingest_results_file",
                    "baseParameters": {
                        "p_file_date": {
                            "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "databricks_ws",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "concurrency": 1,
        "parameters": {
            "p_window_end_date": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-06-27T07:09:21Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}